:root {
    --main-corporate-color: #400080;
    --main-font-family: Helvetica--Neue--75, Arial, sans-serif;
}

.login-page {
    width: 360px;
    padding: 30px 0 0;
    margin: auto;
}

.app-name {
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 40px;
    font-size: 20px;
}

.login-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#login-form {
    padding: 0;
}

.login-form input {
    font-family: var(--main-font-family);
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form button {
    font-family: var(--main-font-family);
    text-transform: uppercase;
    outline: 0;
    background: #28a745;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.login-form button:hover,
.login-form button:active,
.login-form button:focus {
    background: var(--main-corporate-color);
}

.login-body {
    background: var(--main-corporate-color);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, var(--main-corporate-color), var(--main-corporate-color));
    background: -moz-linear-gradient(right, var(--main-corporate-color), var(--main-corporate-color));
    background: -o-linear-gradient(right, var(--main-corporate-color), var(--main-corporate-color));
    background: linear-gradient(to left, var(--main-corporate-color), var(--main-corporate-color));
    font-family: var(--main-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    text-align: right;
    color: white;
    font-size: xx-large;
    padding-right: 24%;
}

@media (max-width: 767px) {
    .logo-navbar {
        padding-top: 50%;
    }
    .logo-navbar > h1 {
        font-size: x-large;
    }
    .sidebar .sidebar-brand .sidebar-brand-text {
        display: inline;
    }
}

@media (max-width: 576px) {
    .login-page {
        width: fit-content;
    }
    .login-form {
        margin: 0;
    }
    .logo {
        padding: 0;
        text-align: center;
    }
    .logo h1 {
        display: inline-block;
    }
    .btn-circle {
        display: block;
        margin: 3px;
    }
    .document-history-card {
        width: auto;
    }
}

.user-icon {
    padding: 0rem 0.5rem;
}

.logo-navbar {
    color: white;
    text-align: center;
}

#accordionSidebar {
    background-color: var(--main-corporate-color);
}

.error{
    color: red;
    font-size: 1rem;
}

input.error{
    width: 100%;
}

label.error {
    padding-top: 20px;
}
