{% extends "base.html" %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-lg-12 mb-8">

            <!-- Bienvenida -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Traffic Balancer</h6>
                </div>
                <div class="card-body">
                    <p>
                    </p>

                </div>
            </div>
        </div>

    </div>


    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        
        <!-- col-lg-6 mb-4 -->

    </div>
    <!-- End Row -->

</div>
<!-- /.container-fluid -->

{% endblock %}
