{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body class="login-body">
    <div class="app-name">
        <h1>PDFSeller</h1>
    </div>
    <div class="login-page">
        <div id="login-form" class="login-form">
  
            <form method="POST" class="login-form" action="{% url 'login' %}">
                {% csrf_token %}       
   					{% if form.errors %}
 
	   		 			 {% for field, error in form.errors.items %}
	    					{% if field != '__all__' %}{{ field }}{% endif %}
	    					<div class="alert alert-danger">
	    					<strong>ERROR: </strong>{{ error | striptags }}
	    					</div>
							{% endfor %}
							{% elif warning %}
							<div class="alert alert-warning">
    						<strong>WARNING: </strong>{{ warning }}
    						</div>
	
							{% elif errors %}
							<div class="alert alert-danger">
    						<strong>ERROR: </strong>{{ errors }}
    						</div>
							{% endif %}
                <input type="text" name="username" placeholder="Usuario" />
                <input type="password" name="password" placeholder="Contrase&ntilde;a" />
                
                <input type="hidden" name="next" value="{% url 'index' %}">
                <button type="submit">Entrar</button>
                
            </form>
        </div>
    </div>
    <div class="logo">
        <h1>orange&trade;</h1>
    </div>


    <!--===============================================================================================-->
    <script src="{% static 'login/scripts/scripts.js' %}"></script>
    <!--===============================================================================================-->

</body>

</html>
