{% extends "base.html" %}

{% block content %}
<!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">PDF Seller</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                REGISTRO BORRADO
                            </div>
                            <div class="panel-body">
                                  <div class="alert alert-danger">
                                    <strong>Danger!</strong> DELETED BY USER READONLY
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}


{% block javascript %}
<script type="text/javascript">

    
</script>

{% endblock %}
