{% load static %}
<div class="container mt-2">
    <div class="row">
        <div class="card shadow col-lg-12 px-0">

            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">
                    <i class="user-icon fa fa-users"></i>
                    Gesti&oacute;n de usuarios
                </h6>
            </div>
            <div class="container my-4">
                <table id="user-manager" class="table table-bordered table-hover w-100 text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th class="pr-0">Username</th>
                            <th class="pr-0">Grupo</th>
                            <th class="pr-0">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_row in all_users %}
                        <tr>
                            <td>{{ user_row.username }}</td>
                            <td>{{ user_row.groupname }}</td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#password-change-{{ user_row.username }}">
                                    <span title="Cambiar contrase&ntilde;a"><i class="fa fa-address-card"></i></span>
                                </button>
                                {% include 'password-change.html' %}
                                <button type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#user-delete-{{ user_row.username }}">
                                    <span title="Eliminar usuario"><i class="fa fa-times"></i></span>
                                </button>
                                {% include 'user-delete.html' %}
                            </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
